{
  "presets": [["env", {
    "targets": {
      "node": "current"
    }
  }]],
  "env": {
    "test": {
      "presets": ["env"],
      "ignore": "index.test.js",
      "sourceMaps": "inline"
    }
  }
}